body {
   background-color: rgb(200, 207, 230); 
   font-family: monospace;
   text-align:center;
   color: white;
}
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
